body {
    background-color: #000;
    margin: 0;
    padding: 20px;
}

.display {
    background-color: #000;
    color: #0f0;
    font-size: 48px;
    padding: 20px;
    border: 2px solid #0f0;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(5,80px);
    gap: 10px
}

button {
    background-color: #222;
    color: #fff;
    border: 2px solid #0f0;
    font-size: 24px;
    cursor: pointer;
}

button:hover {
    background-color:  #333;
}